<html>
<body>
    <form method="POST" action="/new">
        <label for="user">User: </label>
        <input type="text" id="user" name="user">
        <label for="text">Text: </label>
        <input type="text" id="text" name="text">
        <button type="submit">Submit</button>
     </form>     
</body>
</html>

