<html>
  <head>
    <title>messenger</title>
  </head>
  <body>
    <% for (let index = 0; index < messages.length; index++) { %>
      <ul>
        <li>User: <%= messages[index].username %></li>
        <li>Text: <%= messages[index].content %></li>
        <li>Date: <%= new Date(messages[index].created_at).toLocaleString() %></li>
      </ul>
    <% } %>
  </body>
</html>
